.navbar {
    flex:0;
    display: flex;
    background-color: #222;
    color:#fff;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    .left-part {
        width:300px;
        .workspace-name {
            margin-left:16px;
            color: var(--text-color-secondary);
        }
        img {
            height:60px;
        }
    }
    .middle-part {
        display: flex;
        align-items: center;
        justify-content: center;
        .p-button {
            color:white;
            font-weight: bold;
            position:relative;
            height: 63px;
            position: relative;
            border-radius: 0;
            border-bottom: 4px solid transparent;
            &.active {
                border-bottom: 4px solid var(--primary-color);
            }
        }
    }
    .right-part {
        width:300px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: var(--content-padding);
        .p-button-link {
            color:white !important;
        }
        .p-avatar {
            color:#222;
            margin-left: var(--content-padding);
        }
        .hi-message {
            font-size:12px;
        }
    }
}
