.layout-mainpage{
    background-color:#252A48;
    border:0;
    margin:0;
    padding:0;
    flex:1;
    display:flex;
    position:relative;
    z-index:100;
    .mainpage-root {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .p-datatable {
        width: 100%;
    }
}