:root {
    height: 100%;
    --primary-color: #160144;
    --secondary-color: #fbc534;
}

html {
    height: 100%;
}

body {
    height:100%;
    margin: 0;
}

#root {
    height:100%;
    min-height: 100%;
}

@import 'primeflex/src/variables.scss';
@import 'primeflex/src/grid.scss';
@import 'primeflex/src/formlayout.scss';
@import 'primeflex/src/display.scss';
@import 'primeflex/src/text.scss';
@import 'primeflex/src/flexbox/flexbox.scss';
@import 'primeflex/src/spacing.scss';
@import 'primeflex/src/elevation.scss';
@import 'primeicons/primeicons.css';

@import './assets/fonts/roboto.css';
@import 'primereact/resources/primereact.min.css';
@import './theme.scss';
