Django
djangorestframework
django-filter
drf_yasg
django_extensions
git+https://github.com/jazzband/django-silk@7e93d6caecc83f8aad7cdb152b578f27787a59cc
celery
python-dotenv
django-environ
djoser
djangorestframework_simplejwt
django-cors-headers
whitenoise
django-allow-cidr
sentry-sdk
gunicorn
psycopg2
drf-extensions
drf-nested-routers